/* global */
body{
    background: rgb(80, 80, 80);
}

/* header */
.header{
    width: 1370px;
    height: 200px;
    border: solid 1px;
    border-radius: 20px;
    margin-left: 220px;
    padding: 0px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
}

.reload img{
    width: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.close img{
    float: right;
    margin-right: -16px;
    margin-top: 175px;
    margin-left: 40px;
}
.log img{
    width: 550px;
    height: 98%;
    float: left;
    margin-left: 15px
}
.lou img{
    float: right;
    width: 280px;
    padding: 0;
    margin-left: 140px;
    margin-top: 60px;
}

/* left aside */
.leftaside{
    border: solid 1px;
    border-radius: 20px;
    float: left;
    width: 120px;
    height: 400px;
    margin-left: 255px;
    margin-top: 20px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
}
.arrow img{
    width: 70px;
    margin-left: 20px;
}
.main img{
    width: 70px;
    margin-left: 20px;
    margin-bottom: 2px;
}
.oeil img{
    width: 70px;
    margin-left: 20px;
    border: solid 5px;
    border-color: red;
}
.outil img{
    width: 70px;
    margin-left: 20px;
}
.chat img{
    width: 70px;
    margin-left: 20px;
}
/* middle */
.mddl{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 20px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
}
.mddl img{
    margin: 10px;
}

/* right aside  */
.rightaside{
    border: solid 1px;
    border-radius: 20px;
    float: left;
    width: 120px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    background: rgb(144, 144, 144);
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
}

.book img{
    width: 70px;
    margin-left: 20px;
}
.towel img{
    width: 70px;
    margin-left: 20px;
}
.brick{
    width: 90px;
    height: 40px;;
    margin-left: 20px;
    background-image: url('./resources/brick.jpg');
    background-size: 20px;
    
}

/* box */
.box{
    border: solid 1px;
    float: left;
    border-radius: 20px;
    background: rgb(136, 255, 137);
    width: 400px;
    margin-top: -100px;
    margin-left: 150px;
    padding-top: 15px; 
    height: 160px;
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
}
.box p{
    margin-left:  10px;
    margin-top: 0;
    padding: 0;
}
.box2{
    margin-left: 5px;
}